ENV=UAT
BROWSER=chrome
BROWSER_HEADLESS=false
BROWSER_TIMEOUT=60000
PAGE_LOAD_TIMEOUT=60000
POLLING_INTERVAL=250
NAVIGATION_SETTLE_MS=2000
OPEN_URL_SETTLE_MS=5000
HEADLESS_VIEWPORT_WIDTH=1920
HEADLESS_VIEWPORT_HEIGHT=1080
EFMS_BASE_URL=https://uat-efms.logtechub.com/en/#/home
ETMS_BASE_URL=https://staging-itllog-etms.logtechub.com/en/#/app/default/home
ACCOUNT_USERNAME=henry.hieu
ACCOUNT_PASSWORD=
API_BASE_URL=https://uat-efms.logtechub.com
API_TIMEOUT=30000
DB_URL=
DB_USERNAME=
DB_PASSWORD=
